@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --currentColor: rgb(20, 70, 140);
  --currentColorOpa: rgba(20, 70, 140, 0.443);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
